<div class="container">
<div class="row">
	<div class="col-md-6">
		<h1>Skills for <%= @city.capitalize %></h1>
		<% @skills.each do |skill| %>
			<ul class="list-group">
		   		<li class="list-group-item">Talent: <%= skill.upcase %></li>  
			</ul>
		<% end %>
	</div>
	<div class="col-md-6">
		<h2>Chart</h2>
		<div id="chart-1" style="height: 300px;"></div>
    <script>
    	var skills_popularity = <%= raw @skills_popularity %>;
      new Chartkick.PieChart("chart-1", skills_popularity);     
    </script>
	</div>
</div>
</div>

